# Core
pandas>=2.2
boto3
pyyaml

# dbt
dbt-core
dbt-snowflake

# EDA
ydata-profiling>=4.9
pandera>=0.20
black

# Workaround: ydata-profiling uses pkg_resources, removed in setuptools>=82
setuptools<82
